$gray-1:#666666;
$gray-2:#727882;
$blue:#409eff;
$black:#2c3e50;

$header-color:$gray-1;
$text-color:$gray-2;
$link-color:$black;
$link-active-color:$blue;

html,
body {
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 0;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3,
h4 {
    font-size: 22px;
}

h5,
h6 {
    font-size: 20px;
}

.link {
    text-decoration: none;
    transition: all ease 0.2s;
    color: $link-color;
}

.link:hover {
    color: $link-active-color !important;
}

.el-message {
    min-width: 300px !important;
}